@charset "UTF-8";

#contents_sub{
	width: 970px;
	height: auto;
	margin: auto;
}

#contents_sub .main_img{
	width: 100%;
	height: 360px;
}
#contents_sub .main_img img{
	width: 100%;
	height: 100%;
}
#contents_sub .main_news{
	width: auto;
	height: 240px;
	padding: 40px 50px;
	background: url(../img/gra_bg.png);
	background-repeat: repeat-x;
}
#contents_sub .news_type01{
	width: 245px;
	overflow: hidden;
	float: left;
}
#contents_sub .news_type01.cen{
	margin: 0px 60px;
}
.title{
	height: 20px;
	background: url(../img/main_title.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	margin-bottom: 5px;
}
.main_news .news_type01:nth-child(1) .title{
	/*
		news_type01이 총 3개가 있다. 이 중에 첫번째를 의미하고,
		그 안에 있는 자손 요소들 중 클래스가 title인 요소에 적용한다.
		nth-child(1) = 첫번째
	*/
	background-position: 0px 0px;
}
.main_news .news_type01:nth-child(2) .title{
	background-position: 0px -20px;
}
.main_news .news_type01:nth-child(3) .title{
	background-position: 0px -40px;
}
.main_news .news_type01 .news_src{
	display: block;
	overflow: hidden;
}
.main_news .news_type01 .thum_img{
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 245px;
	height: 148px;
}
.main_news .news_type01 .thum_img img{
	width: 100%;
	height: 100%;
}
.main_news .news_type01 .thum_img .btn_play{
	display: inline-block;
	width: 52px;
	height: 51px;
	position: absolute;
	top: 50px;
	left: 100px;
	background: url(../img/icon_play.png);
	background-repeat: no-repeat;
}
.main_news .news_type01 .subject{
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	cursor: pointer;
}
.main_news .news_type01 .subject:hover{
	color: #ff5001;
}
.main_news .news_type01 .writer{
	float: left;
	font-size: 11px;
	color: #777;
}
.main_news .news_type01 .more_view{
	float: right;
	font-size: 11px;
	color: #777;
}
.main_board{
	width: auto;
	padding: 50px 35px;
}
.board_type01{
	position: relative;
	width: 250px;
	overflow: hidden;
	float: left;
	margin-left: 50px;
}
.main_board .board_type01:nth-child(1){
	margin-left: 0px;
}
.main_board .board_type01:nth-child(1) .title{
	background-position: 0 -60px;
	border-bottom: 1px solid #efefef;
	margin-bottom: 7px;
}
.main_board .board_type01:nth-child(2) .title{
	background-position: 0 -80px;
	border-bottom: 1px solid #efefef;
	margin-bottom: 7px;
}
.main_board .board_type01 .more_view{
	position: absolute;
	right: 0;
	top: 3px;
}
.main_board .board_type01:nth-child(3){
	width: 284px;
}
.main_board .board_type01 .notice li{
	position: relative;
	height: 23px;
	line-height: 23px;
}
.main_board .board_type01 .notice li a{
	display: inline-block;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/*글자 수가 200px을 넘어갈 때 줄임 표시를 사용함.*/
}
.date{
	position: absolute;
	right: 0px;
	font-size: 12px;
	top: 4px;
}
.main_board .board_type01 .article{
	display: block;
	overflow: hidden;
}
.main_board .board_type01 .article .thum_img{
	float: left;
	display: inline-block;
	width: 67px;
	height: 67px;
	margin-right: 5px;
}
.main_board .board_type01 .article .src{
	float: right;
	display: block;
	width: 170px;
	font-size: 12px;
	padding-top: 7px;
}
.banner{
	display: inline-block;
	text-indent: -9999px;
	width: 137px;
	height: 118px;
	border: 1px solid #dfdfdf;
	border-radius: 7px;
	background: url(../img/main_banner.png);
	background-repeat: no-repeat;
}
.b01{
	float: left;
	background-position: -137px 0px;
	
}
.b02{
	float: left;
	margin-left: 5px;
}
.banner a{
	display: block;
	width: 100%;
	height: 100%;
}
