@charset "UTF-8";

#contents_sub{
	width: 970px;
	height: auto;
	margin: auto;
}

#contents_sub>h1{
	width: 930px;
	margin: auto;
	background: url(../img/sub_title.png);
	text-indent: -9999px;
	background-repeat: no-repeat;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 50px;
	background-position: 0px -50px;
}
.login_area{
	width: 900px;
	margin: auto;
	height: 280px;
	border: 1px solid #dedede;
	border-radius: 10px;
	background: url(../img/gra_bg.png);
	background-repeat: repeat;
}
.person_login{
	display: inline-block;
	float: left;
	width: 449px;
	height: 89%;
	border-right: 1px solid #dedede;
	margin-top: 12px;
	position: relative;
}
.group_login{
	float: left;
	width: 449px;
	display: inline-block;
	height: 89%;
	margin-top: 12px;
	position: relative;
}
.title01{
	width: 300px;
	margin: auto;
	margin-top: 30px;
	background: url(../img/sub_title.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	height: 80px;
	background-position: 0px -80px;
}
.title02{
	width: 300px;
	margin: auto;
	margin-top: 30px;
	background: url(../img/sub_title.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	height: 80px;
	background-position: 0px -160px;
}
.input_area{
	display: inline-block;
}
form{
	position: relative;
	padding-left: 80px;
	margin-top: 20px;
	padding-right: 95px;
}
.btnArea_right{
	position: absolute;
	display: inline-block;
	width: 90px;
	height: 60px;
	float: right;
	background: url(../img/btn.png);
	background-repeat: no-repeat;
	
}
.login_search{
	margin-top: 25px;
	border-top: 1px solid #dedede;
	padding-top: 15px;
	position: relative;
}
.input_area label{
	font-size: 12px;
}
.input_area p:first-child label{
	margin-right: 12px;
}
#s_id{
	width: 120px;
	margin-right: 10px;
}
#s_pw{
	width: 120px;
	margin-right: 10px;
}
.input_area p{
	margin-top: 5px;
}
.login_search label{
	font-size: 12px;
}
.b_search{
	background: url(../img/btn.png);
	background-repeat: no-repeat;
	width: 156px;
	height: 27px;
	background-position: -100px 0px;
	float: right;
}
.b_search a{
	width: 100%;
	height: 100%;
}
#ch01{
	margin-top: 5px;
}
	
