@charset "UTF-8";

#contents_sub{
	width:900px;
	height: auto;
	margin: auto;	
	padding-top: 40px;
}
.sub_title{
	background: url(../img/sub_title.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}
h1.title01{/*h1 태그 중 클래스가 title01인 요소만 적용*/
	height: 30px;
	background-position: 0px 0px;
}
h2.title03{/*h1 태그 중 클래스가 title01인 요소만 적용*/
	height: 20px;
	width: 55px;
	background-position: 0px -30px;
}
h2.title04{/*h1 태그 중 클래스가 title01인 요소만 적용*/
	height: 20px;
	width: 120px;
	background-position: -55px -30px;
}
p.title_src{
	font-size: 15px;
	font-weight: bold;
	color: #222;
	/*안쪽 여백의 위쪽은 10픽셀, 왼쪽은 5픽셀, 아래쪽은 40픽셀, 오른쪽은 주지 말자*/
	padding: 10px 0px 40px 5px;
	line-height: 1.5em;
}
p.chk_area{
	text-align: right;
	margin-top: 5px;
}
/*
	버튼들 중 b_agree와 b_noagree를 해당 이미지들로 채우자!
	b_agree의 너비는 100px, b_noagree는 너비가 122px
	높이는 모두 30px이다.
*/
.b_agree{
	width: 100px;
	height: 30px;
	background-position: 0px -70px;
}
.b_noagree{
	width: 122px;
	height: 30px;
	background-position: -100px -70px;
}
textarea{
	resize: none;
}